body{
  background-image:   url("../images/back.png");
}

p{
    color: white;
}

h1#a{
    text-align: center;
    background-color:gray;
}

h2#b{
    text-align: center;
    background-color:cyan; 
    color: blue;
}

h2#c{
    text-align: center;
    background-color:gold; 
    color: black;
}

h1#d{
    text-align: center;
    background-color:orange;
    color: red;
}


